<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Database App</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

    <script src="/javascripts/dbApp.js"></script>
    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/services.js"></script>
    <script src="/javascripts/loginController.js"></script>

    <script src="/javascripts/registerController.js"></script>
    <script src="/javascripts/locationController.js"></script>
    <script src="/javascripts/datapointController.js"></script>
    <script src="/javascripts/newDatapointController.js"></script>
    <script src="/javascripts/cityOfficialController.js"></script>
    <script src="/javascripts/adminController.js"></script>
    <script src="/javascripts/filterPOIController.js"></script>
    <script src="/javascripts/POIDetailController.js"></script>

    <script src="/javascripts/POIReportController.js"></script>








  </head>
  <body ng-app="databaseProject">
    <ng-view></ng-view>
  </body>
</html>
