  <div>
    <table class="table-striped">
      <tr>
        <th ng-click="sortBy('Name')">POI Location</th><th>City</th><th>State</th><th ng-click="sortBy('MinMold')">Mold Min</th><thng-click="sortBy('AvgMold')">Mold Avg</th>
        <th ng-click="sortBy('MaxMold')">Mold Max</th>
          <th ng-click="sortBy('MinAir')">AQ Min</th><th ng-click="sortBy('AvgAir')">AQ Avg</th><th ng-click="sortBy('MaxAir')">AQ Max</th><th>Number of DP</th><th>Flagged</th>
      </tr>
      <tr ng-repeat="p in pois | orderBy:propertyName:reverse">
        <td>
          {{p.Name}}
        </td>
        <td>
          {{p.City}}
        </td>
        <td>
          {{p.State}}
        </td>
        <td>
          {{p.MinMold}}
        </td>
        <td>
          {{p.AvgMold}}
        </td>
        <td>
          {{p.MaxMold}}
        </td>
        <td>
          {{p.MinAir}}
        </td>
        <td>
          {{p.AvgAir}}
        </td>
        <td>
          {{p.MaxAir}}
        </td>
        <td>
          {{p.CountMold + p.CountAir}}
        </td>
        <td>
          {{p.Flagged}}
        </td>
      </tr>

    </table>
  </div>
  <button class="btn btn-default" ng-click="back()">Back</button>
